body {
  margin: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: #111111;
}

:root {
  --color-text: #f5f5f5;
}
.container-admin {
  position: absolute;
  display: flex;
  align-items: center;
  background: #1a1b1e;
  border: 1px solid #34363b;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  width: fit-content;
  padding: 54px;
  gap: 18px;
  color: var(--color-text);
  border-radius: 8px;
  font-family: "Inter", sans-serif;
}
.container-manager {
  position: absolute;
  display: none;
  align-items: center;
  background: #1a1b1e;
  border: 1px solid #34363b;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  width: fit-content;
  padding: 54px;
  gap: 18px;
  color: var(--color-text);
  border-radius: 8px;
  font-family: "Inter", sans-serif;
}
.content {
  display: flex;
  flex-direction: column;
  width: 22rem;
  text-align: center;
  font-size: 26px;
  cursor: pointer;
  user-select: none;
  justify-content: center;
}
.auth {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 22rem;
}
input {
  height: 32px;
  padding: 0 10px;
  font-size: 16px;
}
input::placeholder {
  color: #7d8088;
}
.auth-login {
  background: #f2f2f2;
  color: #111214;
  padding: 8px;
  user-select: none;
  cursor: pointer;
  border-radius: 4px;
}
.auth-login:hover {
  background: #2a2c2f;
  color: #f2f2f2;
}
.auth-login:active {
  background: #3a3d42;
}
