html,
body {
  margin: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(150deg, #16181c 15%, #090a0c 100%, #030405 100%);
  font-family: "Inter", sans-serif;
}
.form {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}
.image {
  width: 45%;
  height: 100%;
  overflow: hidden;
  padding: 40px;
  box-sizing: border-box;
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.head-form {
  font-size: 64px;
}
