:root {
  --background-sidebar: #111111;
  --background-menu: rgba(255, 255, 255, 0.12);
}
body {
  margin: 0;
  display: flex;
  overflow: hidden;
}
.sidebar {
  position: relative;
  height: 100vh;
  width: 4rem;
  background: var(--background-sidebar);
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}
.menu-page {
  display: flex;
  padding: 6px;
  border-radius: 8px;
  background: var(--background-menu);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.menu {
  display: flex;
  padding: 6px;
  border-radius: 8px;
}
.menu:hover {
  background: var(--background-menu);
}
/* content */
.content {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content span {
    font-size: 56px;
}