body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.sidebar {
  background: black;
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  padding: 6px;
  gap: 5px;
  height: 100%;
}
.menu-page {
  display: flex;
  border-radius: 4px;
  padding: 4px;
  align-items: center;
  background: rgba(255, 255, 255, 0.15);
  border: white solid white;
}
.menu {
  display: flex;
  border-radius: 4px;
  padding: 4px;
  align-items: center;
}
.menu:hover {
  background: rgba(255, 255, 255, 0.1);
}
.menu svg {
  height: auto;
  width: 32px;
}
