:root {
  --background-sidebar: #111111;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}
.sidebar {
  position: relative;
  height: 100vh;
  width: 4rem;
  background: var(--background-sidebar);
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.menu-page {
  display: flex;
  width: fit-content;
}
.menu {
    display: flex;
    padding: 6px;
    border-radius: 8px;
}
.menu:hover {
    background: rgba(255, 255, 255, 0.06);
}
