body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
}
.sidebar {
  background: black;
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  padding: 6px;
  gap: 5px;
  height: 100%;
}
.menu-page {
  display: flex;
  border-radius: 4px;
  padding: 4px;
  align-items: center;
  background: rgba(255, 255, 255, 0.15);
  border: white solid white;
}
.menu {
  display: flex;
  border-radius: 4px;
  padding: 4px;
  align-items: center;
}
.menu:hover {
  background: #1c1f26;
}
.menu svg {
  height: auto;
  width: 32px;
}
/* content */
.content {
  display: flex;
  flex-direction: column;
  padding: 10px 22px;
  width: 100%;
  gap: 20px;
}
.header-content {
  display: flex;
  height: fit-content;
  align-items: center;
  width: 100%;
}
.user {
  display: flex;
  gap: 5px;
  border-radius: 5px;
  align-items: center;
  padding: 2px 4px;
  cursor: default;
}
.text {
  font-size: 18px;
  font-family: "Manrope", sans-serif;
  font-weight: 525;
}
.administrator {
  font-size: 12px;
  font-family: "Manrope", sans-serif;
}
.dateTime {
  margin: 0 0 0 auto;
  border: 1px solid #cbd5e1;
  padding: 6px;
  border-radius: 8px;
  background: #e2e8f0;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}
.card {
  display: flex;
  font-family: "Manrope", sans-serif;
  gap: 5px;
  padding: 8px;
  align-items: center;
  justify-content: center;
}
.txt1 {
  font-size: 14px;
  font-weight: 500;
}
.txt2 {
  font-size: 28px;
}
.recieve {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 4px;
  background: #d1fae5;
}
.issue {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 4px;
  background: #fee2e2;
}
.value {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 4px;
  background: #fef3c7;
}
.item {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 4px;
  background: #dbeafe;
}
.profile-setting {
  display: none;
  width: fit-content;
  border: 1px solid #e5e7eb;
  background: #faf9f6;
  padding: 4px;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  border-radius: 5px;
  box-shadow:
    0 2px 5px rgba(0, 0, 0, 0.1),
    0 2px 5px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
}
.profile-setting:hover {
  background: #fee2e2;
  color: #b91c1c;
}
