body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.sidebar {
  background: black;
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  padding: 6px;
  gap: 5px;
  height: 100%;
}
.menu-page {
  display: flex;
  border-radius: 4px;
  padding: 4px;
  align-items: center;
  background: rgba(255, 255, 255, 0.15);
  border: white solid white;
}
.menu {
  display: flex;
  border-radius: 4px;
  padding: 4px;
  align-items: center;
}
.menu:hover {
  background: #1c1f26;
}
.menu:active {
  transform: scale(0.9);
}
.menu svg {
  height: auto;
  width: 32px;
}
.information-dashboard {
  position: absolute;
  display: none;
  width: fit-content;
  background: black;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.information-package {
  position: absolute;
  display: none;
  width: fit-content;
  background: black;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.information-setting {
  position: absolute;
  display: none;
  width: fit-content;
  background: black;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.information-logout {
  position: absolute;
  display: none;
  width: fit-content;
  background: black;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
